body {
    font-family: sans-serif;
    background-color: #fff; /* Blanco */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .resultado-container {
    background-color: #E60023; /* Rojo Coca-Cola */
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .resultado-container p {
    text-align: center;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  details {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  summary {
      cursor: pointer;
      font-weight: bold;
      background-color: #E60023; /* Rojo Coca-Cola */
      color: #fff;
      padding: 10px;
      border-radius: 5px;
  }

  details[open] summary {
      background-color: #fff; /* Blanco */
      color: #E60023; /* Rojo Coca-Cola */
  }

  details[open] ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  details[open] li {
      background-color: #f0f0f0;
      padding: 5px;
      border-radius: 3px;
      margin-bottom: 5px;
  }

  details[open] li a {
      color: #E60023; /* Rojo Coca-Cola */
      text-decoration: none;
  }